.panel {
  position: fixed;
  left: 33%;
  top: 5rem;
  margin: 0 auto;

  animation: slide-down 200ms ease-out forwards;
  z-index: 100;
}

.panel-form {
  color: #333;
  font-weight: 700;

  border: 2px solid #062abc;
  border-radius: 1rem;

  width: 50%;
  min-width: 35rem;
  max-width: 60rem;
  height: 40rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 1000;
}

.share-location-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  align-items: center;

  border: none;
  font-size: 1.2rem;
}

.header {
  grid-column: -1/1;

  font-size: 2rem;
  color: #eee;

  background-color: #062abc;

  padding: 1rem;
}

label {
  text-align: left;
  padding: 1rem;
  margin: 0.5rem;
}

input,
select {
  border: 1px solid #062abc;
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 1rem;

  font-size: 1.2rem;
}

.location-on-map {
  margin-right: 1rem;
  height: 15rem;
  overflow: hidden;
}

svg {
  height: 1.5rem;
}

.upload-logo {
  margin-right: 1rem;
  border: 2px solid #062abc;
  border-radius: 5px;
}

.upload-logo button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upload-logo p {
  background-color: #062abc;
  color: #eee;
  width: 100%;
  padding: 5px;
}

.upload-logo svg {
  background-color: #748ffc;

  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.75rem 1rem;

  border-radius: 25px;
  font-weight: bold;

  margin: 2rem;
  min-width: 10rem;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

.cancel {
  background-color: #767676;
}

.save {
  background-color: #748ffc;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .panel {
    position: fixed;
    left: 15%;
    top: 5rem;
    z-index: 100;
  }

  .panel-form {
    color: #333;
    font-weight: 700;

    border: 2px solid #062abc;
    border-radius: 1rem;

    width: 20%;
    min-width: 25rem;
    height: 35rem;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 1000;
  }

  .share-location-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    align-items: center;

    border: none;
    font-size: 0.8rem;
  }

  .header {
    grid-column: -1/1;

    font-size: 1.5rem;
    color: #eee;

    background-color: #062abc;

    padding: 0.5rem;
  }

  label {
    text-align: left;
  }

  input,
  select {
    border: 1px solid #062abc;
    border-radius: 5px;

    font-size: 1rem;
  }

  .location-on-map {
    margin-right: 1rem;
    height: 15rem;
    overflow: hidden;
  }

  svg {
    height: 1rem;
  }

  .upload-logo {
    margin-right: 1rem;
    border: 2px solid #062abc;
    border-radius: 5px;
  }

  .upload-logo button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .upload-logo p {
    background-color: #062abc;
    color: #eee;
    width: 100%;
    padding: 5px;

    font-size: 1rem;
  }

  .upload-logo svg {
    background-color: #748ffc;

    width: 100%;
  }

  .form-buttons {
    display: flex;
    justify-content: center;
  }

  .button {
    cursor: pointer;
    border: none;
    color: white;
    padding: 0.5rem 0.75rem;

    border-radius: 25px;
    font-weight: bold;

    margin: 1rem;
    min-width: 5rem;
  }

  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }

  .cancel {
    background-color: #767676;
  }

  .save {
    background-color: #748ffc;
  }
}
